.name, #pass, #email{
    padding: 7px;
    margin: 5px;
    border: 1px solid #000000;
}
#submit{
    padding: 7px;
    margin: 5px;
    background-color: #000000;
    color: #ffffff;
    border: none;
    cursor: pointer;
}
form{
    margin: 0 auto;
    width: 300px;
    padding: 10px;
}